<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Accesorios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM6z7me5dJ19Xrv3mXy5aoqfFyHJf6dP5eJH/AA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Bicicletas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM6z7me5dJ19Xrv3mXy5aoqfFyHJf6dP5eJH/AA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM6z7me5dJ19Xrv3mXy5aoqfFyHJf6dP5eJH/AA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--ICONOS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- Encabezado con logo y menú -->
    <div class="arriba_logo">
        <div class="pagimg">
            <div></div>
            
            <img class="pagimg_img" src="{% static 'img/logobiciclepower.jpg' %}" alt="Logo">
            
            <div class="usuario_icon">
                <img src="{% static 'img/person_48dp_FILL0_wght400_GRAD0_opsz48 (2).png' %}" alt="usuario">
            <div class="user">
                {% if user.username == "admin" %}
                    <a href="{% url 'list' %}">{{ user.username }}</a>
                {% else %}
                    {{ user.username }}
                {% endif %}
            </div>

                <img src="{% static 'img/no_accounts_48dp_FILL0_wght400_GRAD0_opsz48.png' %}" alt="cerrar sesión"> <a href="{% url 'login'%}">Salir</a>
            </div>
        </div>
    </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Formulario de búsqueda -->
                <form class="d-flex mx-auto mb-0" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <img src="{% static 'img/search_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Buscar" width="30px" height="30px">
                    </button>
                </form>
                <!-- Icono de carrito -->
                <button>
                    <div class="cart-icon">
                        <img src="{% static 'img/shopping_cart_24dp_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Carrito">
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url  'tienda'%}">Tienda Bicicletas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accesorios'%}">Tienda de Acessorios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro'%}">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'API'%}">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- Sección de Accesorios -->
    <section class="container my-5">
        <h2 class="text-center mb-4">Accesorios</h2>

        <!-- Sección de Luces -->
        <div class="mb-4">
            <h3 class="text-center mb-4">Luces</h3>
            <div class="row justify-content-around">
                <!-- Luz 1 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/luz-trasera.jpg' %}" class="card-img-top" alt="Luz 1">
                        <div class="card-body">
                            <h5 class="card-title">Luz Frontal</h5>
                            <p class="card-text">Visibilidad y seguridad en la noche.</p>
                            <a href="/html/luces1.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Luz 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/luz-trasera-2.jpg' %}" class="card-img-top" alt="Luz 2">
                        <div class="card-body">
                            <h5 class="card-title">Luz Trasera</h5>
                            <p class="card-text">Visibilidad y seguridad en la noche.</p>
                            <a href="/html/luces2.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Luz 3 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/pack-luces.jpg' %}" class="card-img-top" alt="Luz 3">
                        <div class="card-body">
                            <h5 class="card-title">Luz LED</h5>
                            <p class="card-text">Visibilidad y seguridad en la noche.</p>
                            <a href="/html/luces3.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Cascos -->
        <div class="mb-4">
            <h3 class="text-center mb-4">Cascos</h3>
            <div class="row justify-content-around">
                <!-- Casco 1 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/Casco-rojo.jpg' %}" class="card-img-top" alt="Casco 1">
                        <div class="card-body">
                            <h5 class="card-title">Casco Deportivo</h5>
                            <p class="card-text">Protección y seguridad en tus paseos.</p>
                            <a href="/html/casco1.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Casco 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/casco-luz.jpg' %}" class="card-img-top" alt="Casco 2">
                        <div class="card-body">
                            <h5 class="card-title">Casco Urbano</h5>
                            <p class="card-text">Protección y seguridad en tus paseos.</p>
                            <a href="/html/casco2.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Casco 3 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/casco-bicicleta-proframe-negro-camuflado-fox.jpg' %}" class="card-img-top" alt="Casco 3">
                        <div class="card-body">
                            <h5 class="card-title">Casco Montaña</h5>
                            <p class="card-text">Protección y seguridad en tus paseos.</p>
                            <a href="/html/casco3.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Bombas de Aire -->
        <div class="mb-4">
            <h3 class="text-center mb-4">Bombas de Aire</h3>
            <div class="row justify-content-around">
                <!-- Bomba de Aire 1 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/camara-aiere-pito.jpg' %}" class="card-img-top" alt="Bomba de Aire 1">
                        <div class="card-body">
                            <h5 class="card-title">Bomba de Aire Manual</h5>
                            <p class="card-text">Mantén tus neumáticos siempre listos.</p>
                            <a href="/html/bomba_aire1.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Bomba de Aire 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/camaras-aire.jpg' %}" class="card-img-top" alt="Bomba de Aire 2">
                        <div class="card-body">
                            <h5 class="card-title">Bomba de Aire Portátil</h5>
                            <p class="card-text">Mantén tus neumáticos siempre listos.</p>
                            <a href="/html/bomba_aire2.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Bomba de Aire 3 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'img/bombaaiere3.jpeg' %}" class="card-img-top" alt="Bomba de Aire 3">
                        <div class="card-body">
                            <h5 class="card-title">Bomba de Aire Eléctrica</h5>
                            <p class="card-text">Mantén tus neumáticos siempre listos.</p>
                            <a href="/html/bomba_aire3.html" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <h2>Información de Contacto</h2>
    <table>
        <tr>
            <th>Correo</th>
            <td>RTW@AYUDA.CL</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>+56229993000</td>
        </tr>
        <tr>
            <th>Dirección</th>
            <td>Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana</td>
        </tr>
    </table>

<center><iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1666.1460223292768!2d-70.67895122361891!3d-33.363440797641246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7027d62bd61%3A0x2730a9b6af745835!2sSta.%20Elena%20de%20Huechuraba%201660%2C%208600036%20Huechuraba%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1681164415630!5m2!1ses-419!2scl"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe></center>




<!--JSS BOOTSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<!--Final de la pagina -->
<footer class="bg-dark py-5">
<div class="container">
    <div class="row text-white g-4">
        <div class="col-md-6 col-lg-3">
            <a class="text-uppercase text-decoration-none brand text-white" href="../html/inicio.html">RTW</a>
            <p class="text-white mt-3">Somos una tienda en línea especializada en ofrecerte lo mejor
                del deporte urbana con una selección exclusiva de Bicicletas de la reconocida marca Bicy Power. Con sede
                en Huechuraba, Región Metropolitana, estamos dedicados a proporcionarte una experiencia única de compra en línea
                para los amantes del ciclismo urbano y rutal.</p>
        </div>

        <div class="col-md-6 col-lg-3">
            <h5 class="fw-light">Links</h5>
            <ul class="list-unstyled">
                <li class="my-3">
                    <a href="about.html" class="text-white text-decoration-none">
                        <i class="fas fa-chevron-right me-1"></i> Sobre nosotros
                    </a>
                </li>
                <li class="my-3">
                    <a href="poleras.html" class="text-white text-decoration-none">
                        <i class="fas fa-chevron-right me-1"></i> Bicicletas
                    </a>
                </li>
                <li class="my-3">
                    <a href="pantalones.html" class="text-white text-decoration-none">
                        <i class="fas fa-chevron-right me-1"></i> Accesorios
                    </a>
                </li>
                <li class="my-3">
                    <a href="polerones.html" class="text-white text-decoration-none">
                        <i class="fas fa-chevron-right me-1"></i> Registro
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-6 col-lg-3">
            <h5 class="fw-light mb-3">Contáctanos</h5>
            <div class="d-flex justify-content-start align-items-start my-2">
                <span class="me-3">
                    <i class="fas fa-map-marked-alt"></i>
                </span>
                <span class="fw-light">
                    Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana
                </span>
            </div>
            <div class="d-flex justify-content-start align-items-start my-2">
                <span class="me-3">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="fw-light">
                    RTW@AYUDA.cl
                </span>
            </div>
            <div class="d-flex justify-content-start align-items-start my-2">
                <span class="me-3">
                    <i class="fas fa-phone-alt"></i>
                </span>
                <span class="fw-light">
                    +56229993000
                </span>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <h5 class="fw-light mb-3">Nuestras Redes</h5>
            <div>
                <ul class="list-unstyled d-flex">
                    <li>
                        <a href="#" class="text-white text-decoration-none fs-4 me-4">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none fs-4 me-4">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none fs-4 me-4">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none fs-4 me-4">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>

<!-- Scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
