body {
    font-family: Arial, sans-serif;
    background-color: #f56363;
    margin: 0;
    padding: 0;
}

h2 {
    color: #f80000;
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #bd0a0a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 20px;
}

table td {
    padding: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: rgb(209, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
